
<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/profile" class="navbar-link ">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Site Administration - Home
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <a class="btn btn-primary btn-block"
       href="#!/admin/user">User Administration</a>

    <a class="btn btn-primary btn-block"
       href="#!/admin/restaurant">Restaurant Administration</a>
</div>

<nav class="navbar navbar-fixed-bottom navbar-flat">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>