<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/admin" class="navbar-link ">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Site Administration - Users
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-show="model.message"
         class="alert alert-info">
        {{model.message}}
    </div>

    <ul class="list-group">
        <li ng-repeat="user in model.users"
            class="list-group-item">

                <span class="btn-group pull-right">
                    <a ng-click="model.deleteUser(user)" class="btn btn-danger" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                     </a>
                </span>
                <span class="btn-group pull-right">
                    <a ng-click="model.updateUser(user)" class="btn btn-warning" type="button">
                        <span class="glyphicon glyphicon-pencil"></span>
                     </a>
                </span>

                <h5>Username:</h5>
                <input type="text"
                       class="form-control"
                       ng-model=user.username>
                <h5>First name: {{user.firstName}}</h5>
                <input type="text"
                              class="form-control"
                              ng-model=user.firstName>
                <h5>Last name: {{user.lastName}}</h5>
                <input type="text"
                       class="form-control"
                       ng-model=user.lastName>
                <h5>User 'ROLE': {{user.roles}}</h5>
                <input type="text"
                       class="form-control"
                       ng-model=user.roles>
        </li>
    </ul>

</div>

<nav class="navbar navbar-fixed-bottom navbar-flat">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/profile" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>