
<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/login" class="navbar-link ">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/admin">
                Administration
            </a>
            <p class="navbar-text pull-right">
                <a>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-show="model.message"
         class="alert alert-info">
        {{model.message}}
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="#!/admin/admin">Administrators</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/user">Users</a>
        </li>
        <!--<li class="list-group-item">-->
            <!--<a href="#!/admin/user">Websites</a>-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
            <!--<a href="#!/admin/user">Pages</a>-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
            <!--<a href="#!/admin/user">Widgets</a>-->
        <!--</li>-->
    </ul>

    <a class="btn btn-primary btn-block"
       ng-click="model.logOut()">Logout</a>

</div>

<nav class="navbar navbar-fixed-bottom navbar-flat">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}/" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>