
<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/admin" class="navbar-link ">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/admin/admin">
                Administration List
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateProfile(model.user)">
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--TODO MAKE THIS RESPONSIVE-->

<div class="container-fluid">

    <div ng-show="model.message"
         class="alert alert-info">
        {{model.message}}
    </div>

    <ul class="list-group">
        <li ng-repeat="user in model.users"
            class="list-group-item">
            <span ng-click="model.deleteUser(user)"
                  class="glyphicon glyphicon-remove pull-right">
            </span>
            {{user.username}} {{user.firstName}} {{user.lastName}} {{user.roles}}
        </li>

    </ul>

    <a class="btn btn-primary btn-block"
       ng-click="model.logOut()">Logout</a>

</div>

<nav class="navbar navbar-fixed-bottom navbar-flat">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}/" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>