<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/search" class="navbar-link ">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/search">
                Back to Search
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/profile">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <div class="">
            <a ng-if="model.user.roles.indexOf('SELLER') > -1"
               ng-click="model.claimRestaurant(model.rid)"
               class="btn btn-danger">Claim Restaurant</a>
            <p>
        </div>
        <div class="">
            <div ng-show="model.message" class="alert alert-info">
                {{model.message}}
            </div>
        </div>
        <div class="">
            <h2>{{model.restaurant.name}}</h2>
            <img ng-src="{{model.restaurant.thumb}}" width="200px">
            <h5>{{model.restaurant.location.address}}</h5>
        </div>
    </div>
</div>
<div class="container-fluid max1024">
    <h3>What users said about {{model.restaurant.name}}:</h3>
    <ul class="list-group">
        <li ng-repeat="comment in model.comments"
            class="list-group-item searchresult">

            <button ng-if="model.user.roles.indexOf('ADMIN') > -1 || model.user._id === comment.user._id"
                    ng-click="model.deleteComment(comment._id)"
                    class="btn  btn-danger btn-comment pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <h4>{{comment.body}}</h4>
            <div ng-if="model.user.roles.indexOf('ADMIN') > -1 || model.user._id === comment.user._id"
                 class="input-group">
                <input type="text"
                       class="form-control"
                       ng-model=comment.body
                       placeholder="reply text">
                <span class="input-group-btn">
                    <a ng-click="model.editComment(comment._id, comment)" class="btn btn-warning" type="button">
                        <span class="glyphicon glyphicon-pencil"></span>
                     </a>
                </span>
            </div>
            <h5 class="italic">By user {{comment.user.username}} on {{comment.dateCreated | date}}<h5>
            <h5 class="italic">Reply by {{model.restaurant.name}}: {{comment.replyText}}<h5>
            <div ng-if="model.user.roles.indexOf('SELLER') > -1"
                 class="input-group">
                <input type="text"
                       class="form-control"
                       ng-model=replyText
                       placeholder="reply text">
                <span class="input-group-btn">
                    <a ng-click="model.createReply(comment._id, replyText)" class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-comment"></span>
                     </a>
                </span>
            </div>
        </li>
    </ul>
</div>

<!--TODO add padding to conform to above div-->
<div ng-if="model.user.roles.indexOf('SELLER') == -1"
     class="container-fluid max1024">
    <div class="container-fluid">
        <div class="input-group">
            <input ng-model="commentBody"
                   type="text"
                   class="form-control"
                   placeholder="Add your comment about {{model.restaurant.name}}">
            <span class="input-group-btn">
                <a ng-click="model.createComment(commentBody)" class="btn btn-success" type="button">
                    <span class="glyphicon glyphicon-comment"></span>
                </a>
            </span>
        </div>
    </div>
</div>