<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/login" class="navbar-link ">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/user/{{model.uid}}">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="">
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-xs-12">
        <h2>Resturant Details</h2>
        <img ng-src="{{model.restaurant.thumb}}" width="200px">
        <h5>{{model.restaurant.name}}</h5>
        <h5>{{model.restaurant.location.address}}</h5>
    </div>
</div>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="comment in model.comments"
            ng-click="model.reply()"
            class="list-group-item searchresult">
            <h4>comment</h4>
        </li>
    </ul>
</div>
