input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-header {
    width: 100%;
}

.navbar-flat {
    background-color: #cbe1f5;
}

a:hover {
    text-decoration-line: none;
}

.thick {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.searchresult {
    position: relative;
    display: block;
    padding: 2px 10px;
    margin-bottom: -1px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.max1024 {
    max-width: 1024px;
}

.max440 {
    max-width: 440px;
}

.col-center {
    float: none;
    margin: 0 auto;
}

