<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           id="text"/>

    <label for="text">URL</label>
    <input class="form-control"
           ng-model="model.widget.url"
           id="text"/>

    <label for="text">Width</label>
    <input class="form-control"
           ng-model="model.widget.width"
           id="text"/>

    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}/search"
       class="btn btn-info btn-block">
        Search
    </a>

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.uid}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.wid}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pid}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

</div>
