<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <!--inject widget template content-->
    <div ng-include="model.getWidgetUrlForType(model.widget)"></div>

    <div class="container-fluid">
        <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
           class="btn btn-block btn-primary">Cancel</a>

        <a ng-click="model.deleteWidget()"
        class="btn btn-block btn-danger">Delete</a>
    </div>
</div>
<nav class="navbar navbar-fixed-bottom navbar-flat">
 <div class="container-fluid">
     <p class="navbar-text pull-right">
         <a href="#!/user/{{model.uid}}/" class="navbar-link">
             <span class="glyphicon glyphicon-user"></span>
         </a>
     </p>
 </div>
</nav>

