
<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder=""
           ng-model="model.widget.name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="model.widget.text"
           id="text"/>

    <label for="size">Size</label>
    <select ng-model="model.widget.size"
            value="{{model.widget.size}}"
            id="size"
            class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
    </select>
</div>

