
<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link ">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
                Add Widget
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item noborder">
            <a ng-click="model.createHeaderWidget()">
                Header
            </a>
        </li>
        <li class="list-group-item noborder">
            <a href="#">
                Label
            </a>
        </li>
        <li class="list-group-item noborder">
            <a ng-click="model.createHTMLWidget()">
                HTML
            </a>
        </li>
        <li class="list-group-item noborder">
            <a href="#">
                Text Input
            </a>
        </li>
        <li class="list-group-item noborder">
            <a href="#">
                Link
            </a>
        </li>
        <li class="list-group-item noborder">
            <a href="#">
                Button
            </a>
        </li>
        <li class="list-group-item noborder">
            <a ng-click="model.createImageWidget()">
                Image
            </a>
        </li>
        <li class="list-group-item noborder">
            <a ng-click="model.createYouTubeWidget()">
                YouTube
            </a>
        </li>
        <li class="list-group-item noborder">
            <a href="#">
                Data Table
            </a>
        </li>
        <li class="list-group-item noborder">
            <a href="#">
                Repeater
            </a>
        </li>
    </ul>

    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
       class="btn btn-block btn-primary">Cancel</a>

</div>
<nav class="navbar navbar-fixed-bottom navbar-flat">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <a href="#!/user/{{model.uid}}/" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
