
<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/user/{{model.uid}}/website">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.uid}}/website/new">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-4 col-md-7 col-xs-10">
                    Site Name
                </div>
                <div class="col-lg-3 visible-lg">
                    Created
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    Accessed
                </div>
                <div class="col-xs-2 hidden-xs">
                    <Span class="pull-right">
                        Edit
                    </Span>
                </div>
            </div>
        </li>
        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <div class="col-lg-4 col-md-7 col-xs-10">
                    <a href="#!/user/{{model.uid}}/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    {{website.created | date}}
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    {{website.updated | date}}
                </div>
                <div class="col-sm-2 col-xs-2">
                    <a href="#!/user/{{model.uid}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-fixed-bottom navbar-flat">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}/" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

