<nav class="navbar navbar-flat navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}">
                Edit Page
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.page)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.page.name"
           id="name"/>

    <label for="description">Description</label>
    <input class="form-control"
           ng-model="model.page.description"
           id="description"/>

    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page"
       class="btn btn-block btn-primary">Cancel</a>

    <a ng-click="model.deletePage(model.page)"
       class="btn btn-block btn-danger">Delete Page</a>
</div>

<nav class="navbar navbar-fixed-bottom navbar-flat">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}/" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
